<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorkDir" value="D:\test\WorkDir\"/>
    <add key="LocaleCode" value="en-US"/>
    <add key="LoginName" value="bla-bla"/>
    <add key="Password" value="bla-bla"/>
    <add key="ShouldLogOn" value="false"/>
    <add key="BrowserName" value="FireFox"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>